@font-face {
   font-family: 'MGS4 Brush';
   font-display: swap;
   src: url('file:///D:/Documentos/Wagaya/Sitio%20Web%20Wagaya/Sito%20nuovo%20multilingue%2009_11_2021/fonts/MGS4%20Brush/font.ttf');
}
